### Python Lists: A Complete Beginner's Guide

#### What is a List?
A **list** in Python is an ordered collection of items. Think of it as a shopping list or a to-do list where each item has a specific position. Lists can hold different types of data (numbers, text, booleans) together, and you can change them after creation.

**Key characteristics:**
- Ordered: Items stay in the order you add them
- Mutable: You can change, add, or remove items
- Can mix different data types
- Uses square brackets `[]`

### 1. How to create a Python list

In [2]:
# creating an empty list 
my_list  = []
print(my_list)

# alternative way to create a list 
another_list = list()
print(another_list)

[]
[]

##### List with items

In [6]:
# list of numbers 
numbers = [10 , 20 , 30 , 40 , 50]
print(numbers)

# list of strings 
words = ['apple' , 'banana' , 'pinapple']
print(words)

# list of mixed data types 
mixed = [10 , 'apple' , 3.14 , True]
print(mixed)

# lists with dublicate values 
duplicates = [1,3,3,2,2]
print(duplicates)

[10, 20, 30, 40, 50]
['apple', 'banana', 'pinapple']
[10, 'apple', 3.14, True]
[1, 3, 3, 2, 2]

### 2. Indexing & Slicing

##### Indexing (Accessing Single Items):
Each item has an index number starting from 0 for the first item.

In [7]:
colors = ['red', 'green', 'blue','black']
# acess first item (index 0 )
print(colors[0])

# acess third item (index 2)
print(colors[2])

# acess last item (index -1)
print(colors[-1])

red
blue
black

#### Slicing (Accessing Multiple Items)
Slicing gets a portion of the list using [start:end:step]

In [8]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Get first 3 items (index 0 to 2)
print(numbers[0:3]) 

# Shorthand: get first 3 items
print(numbers[:3])  

# Get items from index 3 to end
print(numbers[3:])  

# Get last 3 items
print(numbers[-3:])  

# Get all items except last 2
print(numbers[:-2]) 

# Get every 2nd item
print(numbers[::2])  

# Get items from index 2 to 7, step 2
print(numbers[2:7:2])  

# Reverse the list
print(numbers[::-1])

[0, 1, 2]
[0, 1, 2]
[3, 4, 5, 6, 7, 8, 9]
[7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 2, 4, 6, 8]
[2, 4, 6]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### 3. Adding Items
append() - Add to End
Adds one item at the end of the list.

In [9]:
fruit = ['apple', 'banana', 'cherry']

# appending the item in a list in the last index 
fruit.append('orange')
print(fruit)

# appending numberical values 
fruit.append(100)
print(fruit)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange', 100]

#### insert() - Add at Specific Position
Adds an item at any position you choose.

In [11]:
places = ['delhi' , 'mumbai' , 'pune']

# inserting the items in a list in a specific location 
places.insert(1 , 'hydrabad') # this insert the item in 1st index
print(places)

# insert at the last or in the end 
places.insert(len(places) , 'Guwahati')
print(places)

['delhi', 'hydrabad', 'mumbai', 'pune']
['delhi', 'hydrabad', 'mumbai', 'pune', 'Guwahati']

#### extend() - Add Multiple Items
Adds items from another iterable (list, string, etc.) individually

In [12]:
fruits = ["apple", "banana"]
more_fruits = ["orange", "grape"]

fruits.extend(more_fruits)
print(fruits)  

# Extend with a string (adds each character!)
fruits.extend("hi")
print(fruits)  

# Extend with a range
numbers = [1, 2, 3]
numbers.extend(range(4, 7))
print(numbers)

['apple', 'banana', 'orange', 'grape']
['apple', 'banana', 'orange', 'grape', 'h', 'i']
[1, 2, 3, 4, 5, 6]

#### 4. Removing Items
pop() - Remove by Index
Removes and returns an item at a specific index (default: last item).

In [14]:
fruits = ["apple", "banana", "orange", "grape"]

# remove the lats item 
last = fruits.pop()
print(last)
print(fruits)

# remove the item at the index  1 
middle = fruits.pop(1)
print(middle)
print(fruits) 

# use popped vaalue 
remove =  fruits.pop(0)
print(f"Removed : {remove}")

print(f"Remanning fruits : { fruits}")

grape
['apple', 'banana', 'orange']
banana
['apple', 'orange']
Removed : apple
Remanning fruits : ['orange']

#### remove() - Remove by Value
Removes the first occurrence of a value.

In [15]:
fruits = ["apple", "banana", "orange", "banana"]

fruits.remove("banana")
print(fruits)  

# Remove first occurrence of "orange"
fruits.remove("orange")
print(fruits) 

# ERROR: Value not found
# fruits.remove("grape")  # Would raise: ValueError: list.remove(x): x not in list

['apple', 'orange', 'banana']
['apple', 'banana']

#### clear() - Remove All Items
Empties the entire list.

In [16]:
fruits = ["apple", "banana", "orange"]
fruits.clear()
print(fruits)

# The list still exists, just empty
print(len(fruits))

[]
0

#### 5. Updating Elements
Change any item using its index.

In [17]:
colors = ["red", "green", "blue"]

# Update single element
colors[1] = "yellow"
print(colors) 

# Update first element
colors[0] = "purple"
print(colors) 

# Update multiple with slicing
colors[1:3] = ["pink", "orange", "brown"]
print(colors)  

# Replace with fewer items
colors[0:2] = ["black"]
print(colors)

['red', 'yellow', 'blue']
['purple', 'yellow', 'blue']
['purple', 'pink', 'orange', 'brown']
['black', 'orange', 'brown']

#### 6. List Iteration
Using a For Loop

In [18]:
fruits = ["apple", "banana", "orange"]

# Print each item
for fruit in fruits:
    print(fruit)

apple
banana
orange

#### Using enumerate()
 - Get Index and Value

In [19]:
fruits = ["apple", "banana", "orange"]

for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

# Start counting from 1
for index, fruit in enumerate(fruits, start=1):
    print(f"{index}. {fruit}")

Index 0: apple
Index 1: banana
Index 2: orange
1. apple
2. banana
3. orange

#### Using range() and Index

In [20]:
fruits = ["apple", "banana", "orange"]

for i in range(len(fruits)):
    print(f"Index {i}: {fruits[i]}")

Index 0: apple
Index 1: banana
Index 2: orange

#### 7. List Methods (Commonly Used)

| Method             | Description            | Example              |
| ------------------ | ---------------------- | -------------------- |
| `append(x)`        | Add x to end           | `lst.append(5)`      |
| `insert(i, x)`     | Insert x at index i    | `lst.insert(0, 'a')` |
| `extend(iterable)` | Add all items          | `lst.extend([1,2])`  |
| `remove(x)`        | Remove first x         | `lst.remove('a')`    |
| `pop([i])`         | Remove and return item | `lst.pop()`          |
| `clear()`          | Remove all items       | `lst.clear()`        |
| `index(x)`         | Find index of x        | `lst.index('a')`     |
| `count(x)`         | Count occurrences      | `lst.count(5)`       |
| `sort()`           | Sort in place          | `lst.sort()`         |
| `reverse()`        | Reverse in place       | `lst.reverse()`      |
| `copy()`           | Shallow copy           | `new = lst.copy()`   |
| `len()`            | Get length             | `len(lst)`           |

#### Examples of Key Methods

In [21]:
numbers = [3, 1, 4, 1, 5, 9]

# sort() - modifies original list
numbers.sort()
print(numbers)

# reverse() - modifies original list
numbers.reverse()
print(numbers)  

# index() - find position
print(numbers.index(4)) 

# count() - count occurrences
print(numbers.count(1))  

# len() - get length
print(len(numbers))

[1, 1, 3, 4, 5, 9]
[9, 5, 4, 3, 1, 1]
2
2
6

#### 8. List Comprehension
A compact way to create lists. Instead of writing a loop, you write it in one line.
Pattern: [expression for item in iterable]
Basic Example: Squares of Numbers

In [22]:
# Traditional way
squares = []
for i in range(5):
    squares.append(i ** 2)
print(squares) 

# List comprehension way
squares = [i ** 2 for i in range(5)]
print(squares)

[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]

#### Example: Convert Strings to Uppercase

In [23]:
fruits = ["apple", "banana", "orange"]

upper_fruits = [fruit.upper() for fruit in fruits]
print(upper_fruits)

['APPLE', 'BANANA', 'ORANGE']

#### Example: Filter Even Numbers

In [24]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# With condition
evens = [n for n in numbers if n % 2 == 0]
print(evens) 

# With condition and transformation
even_squares = [n ** 2 for n in numbers if n % 2 == 0]
print(even_squares)

[2, 4, 6, 8, 10]
[4, 16, 36, 64, 100]

#### Nested List Comprehension

In [25]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Flatten matrix
flat = [num for row in matrix for num in row]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 9. Nested Lists (Lists Inside Lists)
A list can contain other lists as items.
Creating Nested Lists

In [26]:
# Matrix representation
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix)  

# Mixed nested list
data = ["John", [85, 90, 92], True]
print(data)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
['John', [85, 90, 92], True]

#### Accessing Nested Items

In [27]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Access first row
print(matrix[0]) 

# Access element in first row, second column
print(matrix[0][1])  

# Access bottom-right element
print(matrix[2][2]) 

# Modify nested element
matrix[1][1] = 100
print(matrix)

[1, 2, 3]
2
9
[[1, 2, 3], [4, 100, 6], [7, 8, 9]]

#### 10. Copying Lists (Shallow vs Deep)
The Problem: Assignment Creates a Reference

In [28]:
original = [1, 2, 3]
copy = original  # This is NOT a copy, it's a reference!

copy[0] = 999
print(original)  
print(copy)

[999, 2, 3]
[999, 2, 3]

#### Shallow Copy: copy() or [:]
Creates a new list, but nested objects are still referenced.

In [29]:
import copy

original = [1, 2, [3, 4]]
shallow_copy = original.copy()

# Modify top-level element
shallow_copy[0] = 999
print(original)     
print(shallow_copy)  

# Modify nested list
shallow_copy[2][0] = 888
print(original)      # Output: [1, 2, [888, 4]]  ← Original changed!
print(shallow_copy)  # Output: [999, 2, [888, 4]]

[1, 2, [3, 4]]
[999, 2, [3, 4]]
[1, 2, [888, 4]]
[999, 2, [888, 4]]

#### Deep Copy: copy.deepcopy()
Creates a completely independent copy, including nested objects.

In [30]:
import copy

original = [1, 2, [3, 4]]
deep_copy = copy.deepcopy(original)

# Modify nested list
deep_copy[2][0] = 777
print(original)    # Output: [1, 2, [3, 4]]  ← Unchanged!
print(deep_copy)   # Output: [1, 2, [777, 4]]

[1, 2, [3, 4]]
[1, 2, [777, 4]]

#### 11. Common Mistakes Beginners Make
Mistake 1: Modifying List While Iterating

In [31]:
numbers = [1, 2, 3, 4, 5]

# WRONG - skips elements
for num in numbers:
    if num % 2 == 0:
        numbers.remove(num)

print(numbers)

[1, 3, 5]

##### Solution: Iterate over a copy

In [32]:
numbers = [1, 2, 3, 4, 5]
for num in numbers.copy():
    if num % 2 == 0:
        numbers.remove(num)
print(numbers)  # Output: [1, 3, 5]

[1, 3, 5]

#### Mistake 2: Using list as Variable Name

In [33]:
list = [1, 2, 3]  # Bad practice - shadows built-in type

# Later you can't use list() function
# new_list = list()  # This will fail!

##### Solution: Use descriptive names

In [34]:
my_list = [1, 2, 3]
numbers = [4, 5, 6]

#### Mistake 3: Forgetting extend() vs append()

In [35]:
list1 = [1, 2, 3]

# Wrong - adds as single item
list1.append([4, 5])
print(list1)  # Output: [1, 2, 3, [4, 5]]

# Right - adds individual items
list2 = [1, 2, 3]
list2.extend([4, 5])
print(list2)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

#### Mistake 4: Index Out of Range

In [36]:
fruits = ["apple", "banana"]

# Wrong
# print(fruits[5])  # IndexError: list index out of range

# Right - check length first
if len(fruits) > 5:
    print(fruits[5])
else:
    print("Index doesn't exist")

Index doesn't exist

#### Mistake 5: Comparing Lists Incorrectly

In [37]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]

# Correct - checks content
print(list1 == list2)  # Output: True

# Wrong - checks if same object
print(list1 is list2)  # Output: False

True
False

#### 12. Small Exercises for Practice
Exercise 1: Basic List Operations
Create a list numbers = [10, 20, 30, 40, 50]. Perform these operations:
Print the second item
Change the third item to 35
Add 60 to the end
Remove the first item
Print the final list
<details>
<summary>Solution</summary>

In [38]:
numbers = [10, 20, 30, 40, 50]

# 1. Print second item
print(numbers[1])  

# 2. Change third item to 35
numbers[2] = 35
print(numbers) 

# 3. Add 60 to end
numbers.append(60)
print(numbers) 

# 4. Remove first item
numbers.pop(0)
print(numbers)

20
[10, 20, 35, 40, 50]
[10, 20, 35, 40, 50, 60]
[20, 35, 40, 50, 60]

#### Exercise 2: List Comprehension
Create a list of squares of even numbers from 1 to 10.
<details>
<summary>Solution</summary>

In [39]:
# Method 1: Traditional loop
squares = []
for num in range(1, 11):
    if num % 2 == 0:
        squares.append(num ** 2)
print(squares)  # Output: [4, 16, 36, 64, 100]

# Method 2: List comprehension
squares = [num ** 2 for num in range(1, 11) if num % 2 == 0]
print(squares)  # Output: [4, 16, 36, 64, 100]

[4, 16, 36, 64, 100]
[4, 16, 36, 64, 100]

#### Exercise 3: Nested List Access
Given matrix = [[1,2,3], [4,5,6], [7,8,9]], print:
The number 5
The middle row [4,5,6]
Sum of first column
<details>
<summary>Solution</summary>

In [40]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# 1. Print number 5
print(matrix[1][1]) 

# 2. Print middle row
print(matrix[1]) 

# 3. Sum of first column
first_col = matrix[0][0] + matrix[1][0] + matrix[2][0]
print(first_col) 

# Alternative: using list comprehension
first_col_sum = sum(row[0] for row in matrix)
print(first_col_sum)

5
[4, 5, 6]
12
12

#### Exercise 4: Remove Duplicates
Write code to remove duplicates from numbers = [1,2,2,3,3,3,4] while preserving order.
<details>
<summary>Solution</summary>

In [43]:
numbers = [1, 2, 2, 3, 3, 3, 4]

# Method 1: Using a new list
unique = []
for num in numbers:
    if num not in unique:
        unique.append(num)
print(unique)

[1, 2, 3, 4]

#### Exercise 5: Shallow vs Deep Copy Test
Create a nested list original = [[1,2], [3,4]]. Make a shallow copy and deep copy. Modify a nested element in both and observe the difference.
<details>
<summary>Solution</summary>

In [44]:
import copy

original = [[1, 2], [3, 4]]

# Shallow copy
shallow = original.copy()

# Deep copy
deep = copy.deepcopy(original)

# Modify nested element in shallow copy
shallow[0][0] = 99

print("Original after shallow modification:", original)
# Output: Original after shallow modification: [[99, 2], [3, 4]]

# Modify nested element in deep copy
deep[1][1] = 88

print("Original after deep modification:", original)
print("Deep copy:", deep)

Original after shallow modification: [[99, 2], [3, 4]]
Original after deep modification: [[99, 2], [3, 4]]
Deep copy: [[1, 2], [3, 88]]

#### Exercise 6: List Methods Challenge
Start with chars = ['a', 'b', 'c']. Perform these operations in order:
Add 'd' at the end
Insert 'x' at index 1
Remove 'b'
Sort the list
Count how many 'x' exist
<details>
<summary>Solution</summary>

In [45]:
chars = ['a', 'b', 'c']

# 1. Add 'd' at end
chars.append('d')
print(chars)  

# 2. Insert 'x' at index 1
chars.insert(1, 'x')
print(chars)  

# 3. Remove 'b'
chars.remove('b')
print(chars)  

# 4. Sort the list
chars.sort()
print(chars)  

# 5. Count 'x'# Output: 1
print(chars.count('x'))

['a', 'b', 'c', 'd']
['a', 'x', 'b', 'c', 'd']
['a', 'x', 'c', 'd']
['a', 'c', 'd', 'x']
1

#### Exercise 7: Find Maximum and Minimum
Create a list scores = [85, 92, 78, 95, 88]. Find and print the highest and lowest scores without using max() and min() functions.
<details>
<summary>Solution</summary>

In [46]:
scores = [85, 92, 78, 95, 88]

# Initialize with first value
highest = scores[0]
lowest = scores[0]

# Loop to find max and min
for score in scores:
    if score > highest:
        highest = score
    if score < lowest:
        lowest = score

print(f"Highest: {highest}")  
print(f"Lowest: {lowest}")    

# With built-in functions (for comparison)
print(f"With max(): {max(scores)}")  
print(f"With min(): {min(scores)}")

Highest: 95
Lowest: 78
With max(): 95
With min(): 78